.container {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  background-color: #252627;
  border-radius: 0.85rem;
  margin: auto 12px;
}
.container img {
  height: 100%;
  width: 100%;
}
.container:hover {
  color: white;
  background-color: gold;
  box-shadow: rgb(255, 255, 255) 0px 0px 60px 20px;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.shiny {
  transition: 200ms ease-in;
  overflow: hidden;
  position: relative;
}
.shiny:after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}
.shiny:hover {
  transform: scale(1.08);
}
.shiny:hover:after,
.shiny:hover:focus {
  animation: sheen 1s forwards;
}
