@media (max-width: 400px) {
  .container h1,
  .container .t,
  .container .v,
  .container .bananabrann {
    font-size: 10vmin;
    width: 100vw;
    text-align: center;
  }
}

.t {
  color: rgb(231, 129, 33);
  font-size: calc(42px + 3vmin);
}

.v {
  color: rgb(114, 236, 114);
  font-size: calc(42px + 3vmin);
}

.bananabrann {
  font-size: calc(30px + 3vmin);
}
