.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 4vw;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  max-width: 1100px;
  width: 100vw;
  margin: 0 auto;
}

.main > a {
  margin-top: calc(10px + 1.2vw);
}
