.App {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-family: "Righteous", sans-serif;
}

a {
  color: inherit;
  transition-duration: 175ms;
  transition-timing-function: ease-in-out;
}
a:visited {
  color: inherit;
}
a:hover {
  color: aquamarine;
  transition-duration: 175ms;
  transition-timing-function: ease-in-out;
}
